td{
    width: 70px;
    height: 70px;
    border: 2px black solid;
    text-align: center;
    font-size: 10px;
    
}
.heading{
    text-align: center;
    color: white;
    font-size: 80px;
            
}

#tb{
    background-color: #000000;
}
.light_blue{
    background-color: #9cc2e5;
}
.Red_Dark{
    background-color: #ce2232;
}
.Orange{
    background-color: #f6a821;
}
.light_green{
    background-color: #acda91;
}
.Green{
    background-color: #319c81;
}
.dark_blue{
    background-color: #719ac5;
}
.light_pink{
    background-color: #f8b9ce;
}
.light_yellow{
    background-color: #fbcd0b;
}
.purple{
    background-color: #bc94df;
}
.gray{
    background-color: #cbcbcb;
}
body{
    background-color: #000000;
}